BasedOnStyle: LLVM
Language: Cpp
Standard: Latest

UseTab: Never
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 100

BreakBeforeBraces: Allman
InsertBraces: true
NamespaceIndentation: All
IndentCaseLabels: true

AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: None
AllowShortNamespacesOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false

AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BinPackParameters: OnePerLine
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Pointer
QualifierAlignment: Leave

SortIncludes: Never
IncludeBlocks: Preserve
ReflowComments: Never
FixNamespaceComments: false
RemoveParentheses: Leave
InsertNewlineAtEOF: true
